.body {
    width: 100%;
    margin: auto;
    background-color: antiquewhite;
}


/* text*/

.text-align-justify {
    text-align: justify;
}

.text-align-start {
    text-align: start;
}


/* flex*/

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-3 {
    flex: 3;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
}


/* margin*/

.mr-5 {
    margin-right: 5px;
}

.m-0 {
    margin: 0px;
}

.margin-right-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15%;
}


/* padding*/

.p-15 {
    padding: 15px;
}


/* font*/

.font-size-16 {
    font-size: 16px;
}

.font-menu {
    font: menu;
}


/* position*/

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.left-45 {
    left: 45%;
}

.bottom-10 {
    bottom: 10px;
}

.bottom-19 {
    bottom: 19px;
}

.right-13 {
    right: 13%;
}

.top-0 {
    top: 0px;
}

.top-45 {
    top: 45%;
}

.left-12 {
    left: -12px;
}


/* ul*/

.text-decoration-none {
    text-decoration: none;
}

.list-style-type-none {
    list-style-type: none;
}


/* color*/

.color-000 {
    color: #000;
}

.color-0000009e {
    color: #0000009e;
}


/*border */

.border {
    border: solid 1px;
}

.border-radius-5 {
    border-radius: 5px;
}


/*background */

.background-00000047 {
    background: #00000047;
}


/* */