.san-items {
    display: flex;
    position: relative;
    top: -50px;
    left: 0;
    width: 100%;
    background: #00000075;
}

.article-image {
    display: flex;
    bottom: -5px;
    font-size: xx-small;
    bottom: 28px;
}

.sanfran {
    height: 100%;
    width: 100%;
}

.flesh {
    width: 15px;
    position: absolute;
    right: 0;
    top: -37px;
}

.img1 {
    width: 100%;
    height: 100%
}

.san {
    position: relative;
}

button {
    margin-left: 590px;
    color: #ff0000;
    position: absolute;
    bottom: 18px;
    right: 0;
    background: black;
    width: 122px;
}

.control {
    position: relative;
    width: 100%;
    height: 50px;
}

.holiday {
    position: absolute;
    left: 8px;
    color: white;
    bottom: 17px;
}

.top {
    width: 5px;
    width: -3px;
    position: relative;
    right: -5px;
    bottom: 3px;
}

.article-flesh {
    position: absolute;
    bottom: -4px;
    right: 18px;
}

.flash {
    position: relative;
}

.body-left {
    text-align: justify;
    display: flex;
    /* flex-wrap: nowrap; */
    margin-right: 37%;
}

.body-right {
    width: 36%;
    position: relative;
    /* display: flex; */
    /* justify-content: flex-end; */
    border: solid;
    left: 65%;
    bottom: 768px;
}

.all-body {
    display: flex;
    font-weight: 100;
}